body {
  background-color: hsl(212, 45%, 89%);
min-height: 100vh;
display: flex;
align-items: center;
font-size: 15px;
}
* {
  font-family: Outfit;
  margin: 0 auto;
  padding: 0 auto;
}
.container{
    max-width: 350px;
}
.card{
        background-color: #ffffff;
        border-radius: 18px;
        padding: 18px;
        text-align: center;
        margin: 0 1rem;
}
.card .qrCode{
width: 100%;
border-radius: 12px;
}
.texto{
    padding: 22px 10px;
}
.texto .titulo{
    color: hsl(218, 44%, 22%);
    padding-bottom: 17px;
}
.texto .paragrafo{
color: hsl(220, 15%,55%);
}